/* About Section Styles */
.about {
  background-color: #f4f4f4;
  padding: 40px;
  text-align: center;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  font-size: 2rem;
  color: black;
}

.about-content p {
  font-size: 1.2rem;
  color: black;
  margin-top: 20px;
}

.about-content a {
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.about-content a:hover {
  background-color: darkorange;
}

span {
  color: darkorange;
}