/* Navbar Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: darkorange;
  color: black;
  min-height: 100px;
}

.logo {
  max-width: 80px;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-weight: inherit;
}

.navbar a:hover {
  text-decoration: underline;
}