@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    background: #082337;
    background-color: whitesmoke;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* html {
    font-size: 62.5%;
    overflow-x: hidden;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #082337;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 100; */
    transition: .3s;
}

.haeder {
    background: #082337;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    left: 0px;
}

.navbar a {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 400;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover {
    color: white;
}

.background {
    width: 1200px;
    height: 500px;
    position: fixed;
    margin: 100px;
    padding: 30px;
    bottom: -5;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 2rem; */
    background: #112e42;
    /* padding-bottom: 6rem; */
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.tar{
    text-align: end;
    text-shadow: #112e42;
    color: white;
    font-size: 100px;
    padding: 300px 0;
    animation: fadeInShadow 2s ease-in-out forwards;
    text-shadow: 0 0 10px rgba(17, 46, 66, 0.5); /* Adding a shadow */
}
@keyframes fadeInShadow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      color: white;
    }
  }


  .fullscreen-video {
    align-items: center;
    margin: auto;
    width: 70%;
    height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Style for the video element */
video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}